version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    allow:
      - dependency-type: all
    assignees:
      - tsukinoko-kun
    reviewers:
      - tsukinoko-kun
    target-branch: dev
